@font-face {
  font-family: "IBM Plex Sans";
  src: url("fonts/IBMRoman.woff2") format("woff2");
  font-weight: 300, 400, 500, 600, 700, 800;
  font-style: normal;
  unicode-range: U+0000-00FF;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("fonts/IBMItalic.woff2") format("woff2");
  font-weight: 300, 400, 500, 600, 700, 800;
  font-style: italic;
  unicode-range: U+0000-00FF;
}

:root {
  --theme-color-light: #f8f8f8;
  --theme-color-dark: #444;
  --theme-color-primary: #40826d;

  --theme-font-primary: "IBM Plex Sans", sans-serif;
  --theme-font-monospace: "IBM Plex Mono", monospace;

  --font-size-base: 1.2rem;
  --line-height-base: 1.5;

  --spacing-small: 0.5rem;
  --spacing-base: 1rem;
  --spacing-large: 2rem;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: rgb(68,68,68, 0.9);
  font-weight: 500;
}

body {
  padding: var(--spacing-large);
  font-family: var(--theme-font-primary);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--theme-color-dark);
  background: var(--theme-color-light);

}

header,
main,
footer {
  max-width: 44rem;
  margin-inline: auto;
}

header {
  border: 2px solid black;
  padding: var(--spacing-large);
  box-shadow: 0.45rem 0.45rem rgba(0, 0, 0, 0.4);
  background-color: #4f9cff;
  color: var(--theme-color-light);
  
}

a.blog-tags {
  margin-right: calc(var(--spacing-small) / 2);
  line-height: 2;
}

main {
  margin-top: 1rem;
  border: 2px solid black;
  padding: var(--spacing-small) var(--spacing-large);
  box-shadow: 0.45rem 0.45rem rgba(0, 0, 0, 0.4);
  border: 2px solid black;
  position: relative;
  background: var(--theme-color-light);
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle at center, black .75px, transparent 1px);
  background-size: 1.5rem 1.5rem;
  z-index: -1;
  opacity: 0.25;
}

.title {
  color: var(--theme-color-light);
  text-shadow: 2px 0 #444, -2px 0 #444, 0 2px #444, 0 -2px #444,
    1px 1px #444, -1px -1px #444, 1px -1px #444, -1px 1px #444;
  font-family: "Space Mono";

}

.title:hover,
.title:focus {
  color: var(--theme-color-dark);
  text-shadow: none;
}

p a{
  color: rgb(68,68,68, 0.9);
  font-weight: 500;
  background-color: rgb(234,235,236);
  padding: 0 .1ch;
}

a,
img,
blockquote,
ul,
ol,
li {
  border: none;
  background: none;
  box-shadow: none;
}

nav {
margin-top: var(--spacing-base);
}

nav a {
  font-weight: 500;
  margin-right: var(--spacing-base);
  color: #444;
  border: 2px solid black;
  padding: 0.2ch 1ch;
  box-shadow: 0.15rem 0.15rem rgba(0, 0, 0, 0.4);
  background-color:var(--theme-color-light);
  transition: 0.2s ease-out; 
}


nav a:hover,
nav a:focus {
  box-shadow: 0px 0px; /* Darker shadow */

}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

main {
  padding-bottom: var(--spacing-small);
}

footer {
  text-align: center;
  opacity: 0.75;
  padding-top: var(--spacing-large);
  text-shadow: -2px -2px 0 var(--theme-color-light), 2px -2px 0 var(--theme-color-light), -2px 2px 0 var(--theme-color-light), 2px 2px 0 var(--theme-color-light);
}


/* Lists */
ul,
ol {
  padding-inline-start: var(--spacing-large);
}

li {
  margin: 1rem 0;
  border: 2px solid black;
  padding: var(--spacing-small) var(--spacing-base);
  box-shadow: 0.15rem 0.15rem rgba(0, 0, 0, 0.4);
  border: 2px solid black;
  background: var(--theme-color-light);
}

blockquote {
  padding-inline-start: var(--spacing-base);
  border-inline-start: 0.25em solid var(--theme-color-primary);
  font-style: italic;
  max-width: 50ch;
  margin-block-end: var(--spacing-base);
}

:is(h1, h2, h3, h4) {
  margin-block-end: var(--spacing-base);
}

:is(h1, h2, h3, h4)+* {
  margin-block-start: var(--spacing-base);
}

:is(h1, h2, h3, h4)+ :where(h2, h3, h4) {
  margin-block-start: var(--spacing-large);
}

.title h1 {
  font-size: calc(var(--font-size-base) * 2);
  margin: var(--spacing-small) 0;

}

ul.blog-posts {
  list-style-type: none;
  padding: unset;
}

ul.blog-posts li {
  display: flex;
  flex-direction: row;
}

ul.blog-posts li span {
  min-width: 11ch;
}

p.byline {
  opacity: 0.5;
}

code {
  font-family: var(--theme-font-monospace);
  background-color: #faf9f6;
  font-size: calc(var(--theme-font-size-base) * 0.85);
  padding: 2px var(--spacing-small);
  font-size: 1rem;
}

pre code {
  display: block;
  padding: var(--spacing-large);
  overflow-x: auto;
}

table {
  width: 100%;
}

/* Tables */
table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
  border-color: var(--theme-color-light);
  padding: var(--spacing-small);
}

.disabled,
.skip-link {
  opacity: 0.5;
}

.disabled {
  color: grey;
  cursor: not-allowed;
}

.skip-link {
  position: absolute;
  top: 0;
  left: 0;
  padding: 6px;
  transform: translateY(-100%);
  background-color: #181a20;
  transition: transform 0.3s;
  z-index: 1000;
}

.skip-link:focus {
  transform: translateY(0);
}

@keyframes flash {
  50% {
    opacity: 0.5;
  }
}

figure {
  margin-inline-start: 0em;
  margin-inline-end: 0em;
}

figcaption>p {
  margin-block-start: 9px;
  text-align: center;
  font-style: italic;
}


@media screen and (max-width: 600px) {

}
